<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="  item-card">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field  item-card">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field  item-card">
    <%= form.label :theme_id %>
    <%= form.collection_select( :themes_id, Theme.all, :id , :title_list, prompt: true) %>
  </div>

  <div class="actions  item-card">
    <%= form.submit %>
  </div>
<% end %>
