<p id="notice"><%= notice %></p>
<div class="content">
  <p>
    <h1><%= @task.title %></h1>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= @task.description %>
  </p>

  <div class="footer-show">
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>
  </div>
</div>