<div class="content">
  <p id="notice"><%= notice %></p>
  <h1>Listas cadastradas</h1>
  <div class="table">
    <div class="table-row">
      <div class="table-head">
        <div class="table-rows">
          <div>Título</div>
          <div>Descrição</div>
          <div>Ações</div>
        </div>
      </div>
      <div>
           <% @themes.each do |theme| %>
        <div class="table-body">
            <div class="table-rows">
              <div><%= theme.title_list %></div>
              <div><%= theme.description_list %></div>
              <div class="table-options">
                <div><%= link_to image_tag("options.png", :alt => "rss feed"),theme %> </div>
                <div><%= link_to  image_tag("update.png", :alt => "rss feed"), edit_theme_path(theme) %></div>
                <div><%= link_to  image_tag("trash.png", :alt => "rss feed"), theme, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'New Theme', new_theme_path %>
</div>
