<p id="notice"><%= notice %></p>

<p>
  <strong>Title list:</strong>
  <%= @theme.title_list %>
</p>

<p>
  <strong>Description list:</strong>
  <%= @theme.description_list %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
