<!DOCTYPE html>
<html>
  <head>
    <title>TodoRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'base', 'module', 'leyout', 'reset','state', 'theme', 'responsiveness', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main">
    <div id="navbar">
        <input type="checkbox" id="chec">
        <label id="menu"  for="chec">
            <%= image_tag("button.png", :alt => "rss feed") %>
        </label>
        <nav >
            <ul>
                <li><a href=""><%= %></a></li>
                <li><a href="/themes">Listas</a></li>
                <li><a href="/tasks">Tarefas</a></li>
                <li><a href="/themes/new">Nova lista</a></li>
                <li><a href="/tasks/new">Nova tarefa</a></li>
                <li><a href="/users/sign_up">Registrar</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <%= yield %>
    </div>
    <div id="footer-home">
    </div>
    </div>
  </body>
</html>

 